@import './reset.css';

:root{
	--color-principal: #a1a1aa;
	--color-secondary: #a1a1aa;
	--color-background: white;
	--color-post: #fafafa;
	--color-hover: #f4f4f5;
	--color-hover-two: #e4e4e7;
	--color-black: #27272a;
	--color-button-dropdown-red: #dc2626;
	--color-titles: #222222;
	--color-text: #555;
}

html{
	font-size: 10px;
}

body{
	height: auto; /* se adapta al contenido */
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.5rem; /* 15px */
	background-color: var(--color-background);
	color: var(--color-text);
}

h1, h2, h3, h4, h5, h6{
	color: var(--color-titles);
}

/* PostsComponent.vue */





/* SinglePostComponent.vue*/
